* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
}
.weather_info .fas,
.weather_info .wi {
  font-size: 40px;
  margin: 10px;
  text-align: center;
}
.weather_info {
  color: #041562 !important;
}
.weather_info h6 {
  line-height: 20px;
  font-size: 15px;
  font-weight: 500;
  text-align: end;
}
.weather_info div {
  padding: 0 15px 0 0;
  display: flex;
  justify-content: space-between;
}
.weather_info div:nth-child(1) i,
.weather_info div:nth-child(2) i,
.weather_info div:nth-child(3) i,
.weather_info div:nth-child(7) i {
  padding-left: 10px;
}

.forecast h6 {
  text-align: center;
  color: #041562;
}
